<%- include('partials/logged-header') -%>
<div class="container card-container">
  <div class="row justify-content-center">
    <div class="col-7">
      <div class="mt-5">
        <h2>Add a Job</h2>
        <form action="/job/createPost" enctype="multipart/form-data" method="POST">
          <div class="mb-3">
            <label for="title" class="form-label">Job Title</label>
            <input type="text" class="form-control" id="title" name="title">
          </div>
          <div class="mb-3">
            <label for="profession" class="form-label">What professional are you searching for</label>
            <select class="form-select" aria-label="Default select example" id="profession" name="profession">
                <option selected>Select Profession</option>
                <option value="Carpenter">Carpenter</option>
                <option value="Concrete Finisher">Concrete Finisher</option>
                <option value="Construction Worker">Construction Worker</option>
                <option value="Drywaller">Drywaller</option>
                <option value="Electrician">Electrician</option>
                <option value="Farrier">Farrier</option>
                <option value="HVAC Technicianr">HVAC Technician</option>
                <option value="Landscaper">Landscaper</option>
                <option value="Mason">Mason</option>
                <option value="Painter">Painter</option>
                <option value="Paving Contractor">Paving Contractor</option>
                <option value="Plasterer">Plasterer</option>
                <option value="Plumber">Plumber</option>
                <option value="Power Lineman">Power Lineman</option>
                <option value="Roofing Contractor">Roofing Contractor</option>
                <option value="Scaffolder">Scaffolder</option>
                <option value="Stonemason">Stonemason</option>
                <option value="Tiler">Tiler</option>
                <option value="Tile Setter">Tile Setter</option>
                <option value="Welder">Welder</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Job Description</label>
            <textarea class="form-control" id="description" name="description"></textarea>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Job Location</label>
            <input type="text" class="form-control" id="location" name="location">
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" id="price" name="price" placeholder="0.00" step="1">
            </div>
          </div>
          <div class="mb-3">
            <label for="paymentOption" class="form-label">Payment Options</label>
            <select class="form-select" id="payment" name="payment">
                <option selected>Select Payment Option</option>
                <option value="Apple Pay">Apple Pay</option>
                <option value="Google Pay">Google Pay</option>
                <option value="Cash">Cash</option>
                <option value="Cash App">Cash App</option>
                <option value="Check">Check</option>
                <option value="PayPal">PayPal</option>
                <option value="Stripe">Stripe</option>
                <option value="Venmo">Venmo</option>
                <option value="Zelle">Zelle</option>
            </select>
          </div>        
          <!-- <div class="mb-3"> -->
            <!-- <label for="paymentOption" class="form-label">Payment Options</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionApplePay" name="paymentOption[]" value="Apple Pay">
                <label class="form-check-label" for="paymentOptionApplePay">
                    Apple Pay
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionGooglePay" name="paymentOption[]" value="Google Pay">
                <label class="form-check-label" for="paymentOptionGooglePay">
                    Google Pay
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionCash" name="paymentOption[]" value="Cash">
                <label class="form-check-label" for="paymentOptionCash">
                    Cash
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionCashApp" name="paymentOption[]" value="Cash App">
                <label class="form-check-label" for="paymentOptionCashApp">
                    Cash App
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionCheck" name="paymentOption[]" value="Check">
                <label class="form-check-label" for="paymentOptionCheck">
                    Check
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionPayPal" name="paymentOption[]" value="PayPal">
                <label class="form-check-label" for="paymentOptionPayPal">
                    PayPal
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionStripe" name="paymentOption[]" value="Stripe">
                <label class="form-check-label" for="paymentOptionStripe">
                    PayPal
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionVenmo" name="paymentOption[]" value="Venmo">
                <label class="form-check-label" for="paymentOptionVenmo">
                    Venmo
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionZelle" name="paymentOption[]" value="Zelle">
                <label class="form-check-label" for="paymentOptionZelle">
                    Zelle
                </label>
            </div>
          </div> -->
          <div class="mb-3">
            <label for="imageUpload" class="form-label">Upload an Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div>        
          <button type="submit" class="btn btn-primary">Submit Job</button>
        </form>
      </div>
    </div>
    <div class="col-7">
      <div class="mt-5">
        <h2>Add Yourself as a Professional</h2>
        <form action="/professional/createPro" enctype="multipart/form-data" method="POST">
          <div class="mb-3">
            <label for="profession" class="form-label">What is your profession?</label>
            <select class="form-select" aria-label="Default select example" id="profession" name="profession">
              <option selected>Select Profession</option>
              <option value="Carpenter">Carpenter</option>
              <option value="Concrete Finisher">Concrete Finisher</option>
              <option value="Construction Worker">Construction Worker</option>
              <option value="Drywaller">Drywaller</option>
              <option value="Electrician">Electrician</option>
              <option value="Farrier">Farrier</option>
              <option value="HVAC Technicianr">HVAC Technician</option>
              <option value="Landscaper">Landscaper</option>
              <option value="Mason">Mason</option>
              <option value="Painter">Painter</option>
              <option value="Paving Contractor">Paving Contractor</option>
              <option value="Plasterer">Plasterer</option>
              <option value="Plumber">Plumber</option>
              <option value="Power Lineman">Power Lineman</option>
              <option value="Roofing Contractor">Roofing Contractor</option>
              <option value="Scaffolder">Scaffolder</option>
              <option value="Stonemason">Stonemason</option>
              <option value="Tiler">Tiler</option>
              <option value="Tile Setter">Tile Setter</option>
              <option value="Welder">Welder</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">What is your Location</label>
            <input type="text" class="form-control" id="location" name="location" placeholder="Ex. New York, NY; Miami, FL; Los Angeles, CA">
          </div>
          <div class="mb-3">
            <label for="phoneNumber" class="form-label">What's your phone number?</label>
            <div class="input-group">
                <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="yearsOfExp" class="form-label">How many years of experience do you have?</label>
            <div class="input-group">
                <input type="number" class="form-control" id="yearsOfExp" name="yearsOfExp" min="1" max="30">
            </div>
          </div>
          <div class="mb-3">
            <label for="paymentOption" class="form-label">What payment methods do you take?</label>
            <select class="form-select" id="paymentMethods" name="paymentMethods">
                <option selected>Select Payment Option</option>
                <option value="Apple Pay">Apple Pay</option>
                <option value="Google Pay">Google Pay</option>
                <option value="Cash">Cash</option>
                <option value="Cash App">Cash App</option>
                <option value="Check">Check</option>
                <option value="PayPal">PayPal</option>
                <option value="Stripe">Stripe</option>
                <option value="Venmo">Venmo</option>
                <option value="Zelle">Zelle</option>
            </select>
          </div>        
          <!-- <div class="mb-3"> -->
            <!-- <label for="paymentOption" class="form-label">Payment Options</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionApplePay" name="paymentOption[]" value="Apple Pay">
                <label class="form-check-label" for="paymentOptionApplePay">
                    Apple Pay
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionGooglePay" name="paymentOption[]" value="Google Pay">
                <label class="form-check-label" for="paymentOptionGooglePay">
                    Google Pay
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionCash" name="paymentOption[]" value="Cash">
                <label class="form-check-label" for="paymentOptionCash">
                    Cash
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionCashApp" name="paymentOption[]" value="Cash App">
                <label class="form-check-label" for="paymentOptionCashApp">
                    Cash App
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionCheck" name="paymentOption[]" value="Check">
                <label class="form-check-label" for="paymentOptionCheck">
                    Check
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionPayPal" name="paymentOption[]" value="PayPal">
                <label class="form-check-label" for="paymentOptionPayPal">
                    PayPal
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionStripe" name="paymentOption[]" value="Stripe">
                <label class="form-check-label" for="paymentOptionStripe">
                    PayPal
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionVenmo" name="paymentOption[]" value="Venmo">
                <label class="form-check-label" for="paymentOptionVenmo">
                    Venmo
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paymentOptionZelle" name="paymentOption[]" value="Zelle">
                <label class="form-check-label" for="paymentOptionZelle">
                    Zelle
                </label>
            </div>
          </div> -->
          <div class="mb-3">
            <label for="imageUpload" class="form-label">Upload an Image of Yourself as a Professional</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div>        
          <button type="submit" class="btn btn-primary">Submit Yourself</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
